---
import Layout from '../layouts/Layout.astro';
import ProductBoard from "../components/ProductBoard.astro"
import { Image } from 'astro:assets'; 
import headphone from "../images/headphone_stand.png";
---
<Layout title="products">
    <main><!--  Procedurely space out listings -->
        <ul class="link-product-grid"> 
            <ProductBoard
                title="Headphone Stand"
                product_image={headphone}
                product_description="Desk stand for headphones or a headset."
                price="20"
                stl_file="../stls/headphoneStand.stl"
            />
            <ProductBoard
                title="Headphone Stand"
                product_image={headphone}
                product_description="Desk stand for headphones or a headset."
                price="20"
                stl_file="../stls/headphoneStand.stl"
            />
            <ProductBoard
                title="Headphone Stand"
                product_image={headphone}
                product_description="Desk stand for headphones or a headset."
                price="20"
                stl_file="../stls/headphoneStand.stl"
            />
            
        </ul>
        <ul class="link-product-grid">
            <ProductBoard
                title="Headphone Stand"
                product_image={headphone}
                product_description="Desk stand for headphones or a headset."
                price="20"
                stl_file="../stls/headphoneStand.stl"
            />
            <ProductBoard
                title="Headphone Stand"
                product_image={headphone}
                product_description="Desk stand for headphones or a headset."
                price="20"
                stl_file="../stls/headphoneStand.stl"
            />
            <ProductBoard
                title="Headphone Stand"
                product_image={headphone}
                product_description="Desk stand for headphones or a headset."
                price="20"
                stl_file="../stls/headphoneStand.stl"
            />
            
        </ul>
    </main>
</Layout>
<style>
    .link-product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
	}
</style>