---
import { Image } from 'astro:assets'; 
interface Props {
	title: string;
	product_image: string;
	product_description: string;
    link_href: string;

    price: string;
    stl_file: string;
}

const { product_image, title, product_description, link_href, price, stl_file } = Astro.props;
---
<div class="outer-container">
    <div class="product-board">
        <a>
            <h2 style="text-align: center;">
                {title}
            </h2>
            <p>
                <Image src={product_image} alt={product_description} width = {400} height = {400}/>
            </p>
            <p1 style="text-align: center;">
                Price: ${price} 
            </p1>
            <br>
            <p2 onclick="navigateToLink('{link_href}')">
                file download: {stl_file}
            </p2>
        </a>
    </div>
</div>
<script>
    function navigateToLink(href) {
        window.location.href = href;
    }
</script>
<style>
    .outer-container {
        padding: 20px;
    }
    h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        color: white;
        border-bottom: none;
        text-decoration: none;
	}
    p1 {
        margin: 5px 0;
        color: white;
    }
    p2 {
        margin: 10px 0 0;
        font-size: 1.25rem;
        color: white;
        border-bottom: none;
        cursor: pointer
    }
    .product-board {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    width: 400px;
    }
</style>
